.banner {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    height: 150px;
    width: 150px;
}

.log {
    display: flex;
    list-style: none;
    margin-top: 65px ;
}

.el-log {
    margin-right: 30px;
    color: #4E5166;
    font-weight: bold;
}